@import "modules/all";
body {
  background: $grey;
  font-family: "Oxygen Mono", monospace;
  border-top: 16px solid $red;
  @include respond-to(small-screens) { padding: 16px;}
  @include respond-to(medium-screens) { padding: 16px;}
}

#content {
  padding: 16px;
  margin: 64px auto 0 auto;
  max-width: 600px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    color: $black;
    margin: 0 0 16px;
  }

  h2 {
    color: $red;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
  }

  p {
    line-height: 150%;
    margin: 8px 0 16px;
    font-size: 18px;
  }
}

#social {
  padding: 4px 0 0 0;
  a {
    margin: 8px 4px;
    display: inline-block;
    text-align: center;
    background: $red;
    text-decoration: none;
    color: $white;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 3px $grey, 0 1px 2px $dark_grey;
  }
}
