@import "modules/all";
body {
  background: $white;
  font-family: "Oxygen Mono", monospace;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: $black;
}

h2 {
  color: $red;
  font-weight: bold;
  font-size: 16px;
}

p {
  line-height: 150%;
  margin: 8px 0 16px;
  font-size: 18px;
}

header {
  background: $red;
}

nav {
  width: 100%;
  background: $red;
  a {
    display: inline-block;
    font-size: 18px;
    color: $white;
    text-decoration: none;
    padding: $nav_item_top_bottom_padding $nav_item_left_right_padding;
    &:hover {
      background: $dark-red;
      border-bottom: $nav_item_bottom_border_height solid $white;
      padding-bottom: $nav_item_top_bottom_padding - $nav_item_bottom_border_height;
    }
  }
}

main {
}

footer {
  width: 100%;
  display: flex;
  margin-top: $page_top_margin;
  justify-content: center;
}

#navigation {
}

#content {
  padding: $page_padding;
  margin: $page_top_margin auto 0 auto;
  @include respond-to(wide-screens) {
    max-width: $max_content_width;
  }
  a {
    text-decoration: underline;
    color: $black;
    text-decoration-color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

#social {
  a {
    text-align: center;
    background: $red;
    text-decoration: none;
    color: $white;
    display: inline-block;
    padding: 12px;
    margin: 4px 0;
    &:hover {
      background: $dark-red;
    }
  }
}
