<div class="summary">
  <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
  <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ if .Params.image }}
  {{ $image := .Resources.Get .Params.image }}
  {{ if $image }}
  {{ $thumb := $image.Resize "640x q75" }}
  {{ $thumb2x := $image.Resize "1280x q75" }}
  <img loading="lazy" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ $thumb.RelPermalink }}" srcset="{{ $thumb.RelPermalink }} 640w, {{ $thumb2x.RelPermalink }} 1280w" sizes="(min-width: 768px) 500px, 92vw" />
  {{ end }}
  {{ end }}
  <p class="summary-description">
    {{ if .Params.description }}
    {{ .Params.description }}
    {{ else }}
    {{ .Summary }}
    {{ end }}
  </p>
  <a class="summary-readmore" href="{{ .RelPermalink }}">Read more: {{ .Title }}</a>
</div>
