<div class="summary">
  <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
  <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  {{ if .Params.image }}
  {{ $image := .Resources.Get .Params.image }}
  {{ if $image }}
  <img alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ $image.RelPermalink }}" />
  {{ end }}
  {{ end }}
  <p class="summary-description">
    {{ if .Params.description }}
    {{ .Params.description }}
    {{ else }}
    {{ .Summary }}
    {{ end }}
  </p>
  <a class="summary-readmore" href="{{ .RelPermalink }}">read more</a>
</div>