{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
<div class="blog">
  {{ partial "author.html" . }}
  <div class="intro">
    <div class="post-dates">
      <span class="post-date">{{ dateFormat "January 2, 2006" .Date }}</span>
      {{ if and (isset .Params "lastmod") (gt .Lastmod.Unix .Date.Unix) }}<span class="post-updated">Last updated {{ dateFormat "January 2, 2006" .Lastmod }}</span>{{ end }}
    </div>
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
    {{ if .Params.image }}
    {{ $image := .Resources.Get .Params.image }}
    {{ if $image }}
    <img alt="{{.Params.imageAltAttribute | default " Article hero image"}}" src="{{ $image.RelPermalink }}" />
    {{ end }}
    {{ end }}
  </div>
  <div class="content">
    {{ .Content }}
    <p class="post-rss">Grab with RSS: <a href="{{ "posts/index.xml" | absURL }}">thevinesh.com/posts/index.xml</a></p>
  </div>
</div>
{{ end }}