<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="Description" content="Oops, You shouldn't be seeing this.">
  <title>Page not found</title>
  <link rel="manifest" href="manifest.json">
</head>

<body>
    <%= header %>
    <main>
    <div id="content">
      <p>Oops, You shouldn't be seeing this.🙈</p>
      <h1>
        isOk!
      </h1>
      <p>The link might be broken or moved</p>
      <p>Click <a href="/">👉 here</a> to go back home</p>
    </div>
  </main>
  <%= footer %>
</body>

</html>