<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="Description" content="I am Vinesh Raju, Android and Web Developer, Designer, Tech
  Enthusiast. I am currently an Android Developer at Swiggy, I am curious about almost everything. When I am not sleeping, eating or coding, I like to Sing, Sketch and dream up about all the cool stuffs to do;
  which I almost always procrastinate.">
  <link rel="manifest" href="manifest.json">
  <title>Vinesh Raju</title>
</head>

<body>
  <%= header %>
  <main>
    <div id="content">
      <h5>hi </h5>
      <h1>I'm <span class="font-effect-anaglyph">Vinesh Raju</span> - Android and Web Developer, Designer, Tech
        Enthusiast and A Lazy
        Human🤤.
      </h1>
      <p>I am currently an Android Developer at <a target="_blank" rel="noopener" href="https://swiggy.com">Swiggy</a>.
        I am curious about almost everything. </p>
      <p>When I am not sleeping, eating or coding, I like to Sing, Sketch and dream up about all the cool stuffs to do;
        which I almost always
        procrastinate.😅</p>
      <p>Now that you know about me, I am all ears to know about you.<br>Wave👋 via</p>
      <div id="social">
        <a href="mailto:hi@thevinesh.dev">mail</a>
        <a target="_blank" rel="noopener" href="https://twitter.com/theVinesh">twitter</a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/theVinesh/">linkedin</a>
        <a target="_blank" rel="noopener" href="https://github.com/theVinesh">github</a>
      </div>
    </div>
  </main>
  <%= footer %>
  <script src="//instant.page/1.2.2" type="module"
    integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>

</html>