<!DOCTYPE html>
<html lang="en">

<head>
  <%= ga %>
  <meta name="Description" content="I am Vinesh Raju, Android Developer and Tech Enthusiast. I am currently an Android Developer at Swiggy, I am curious about almost everything. When I am not sleeping, eating or coding, I like to Sing, Sketch and dream up about all the cool stuffs to do;
  which I almost always procrastinate.">
  <link rel="manifest" href="manifest.json">
  <title>Vinesh Raju</title>
</head>

<body>
  <%= header %>
  <main>
    <div id="content">
      <h5>hi </h5>
      <h1>I'm Vinesh Raju - Android Developer and Tech Enthusiast.</h1>
      <p>I am currently an Android Developer at <a target="_blank" rel="noopener" href="https://swiggy.com">Swiggy</a>.
        I am curious about almost everything. </p>
      <p>When I am not sleeping, eating or coding, I like to Sing, Sketch and dream up about all the cool stuffs to do;
        which I almost always
        procrastinate.😅</p>
      <%= nl_signup %>
      <p>Now that you know about me, I am all ears to know about you.<br>Wave👋 via</p>
      <div id="social">
        <a href="mailto:hi@thevinesh.com">mail</a>
        <a target="_blank" rel="noopener" href="https://twitter.com/theVinesh">twitter</a>
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/theVinesh/">linkedin</a>
        <a target="_blank" rel="noopener" href="https://github.com/theVinesh">github</a>
      </div>
    </div>
  </main>
  <%= footer %>
  <script src="//instant.page/3.0.0" type="module" defer
    integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
</body>

</html>