<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="Description" content="Personal site of Vinesh Raju. I am currently an Android Developer at Swiggy">
  <link rel="manifest" href="manifest.json">
  <title>Resume | Vinesh</title>
</head>

<body>
  <%= header %>
  <main>
    <div id="content">
      <%= content %>
    </div>
  </main>
  <%= footer %>
  <script src="//instant.page/1.2.2" type="module"
    integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>

</html>