{{ define "body_classes" }}page-home{{ end }}
{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}

  {{ if .Site.Params.showAuthorOnHomepage }}
    {{ partial "author-large.html" . }}
  {{ end }}

  <div class="intro">
    <h1 class="intro-heading">
      I am Vinesh Raju, <span class="role-article" id="role-article">a</span> <span class="role-rotator" id="role-rotator" aria-live="polite"><strong class="role-word">Builder</strong></span>{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}
    </h1>
    {{ if .Site.Params.showIntroContentOnHomepage}}
      <div class="intro-content">{{ .Content }}</div>
    {{ end }}
    <div class="intro-social">
      {{ partial "social-links.html" . }}
    </div>
  </div>

  <hr class="intro-separator" />

  {{ if .Site.Params.showPostsOnHomepage }}

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $sorted := ($pages.ByParam "date").Reverse }}
    {{ if .Site.Params.sortPostsByDateOldestFirst }}
      {{ $sorted = $pages.ByParam "date" }}
    {{ end }}

    {{ $paginator := .Paginate $sorted }}

    {{ if .Site.Params.usePaginationOnHomepage }}
      {{ range $paginator.Pages }}
        {{ .Render "summary" }}
      {{ end }}
      {{ partial "paginator" . }}
    {{ else }}
      {{ $limit := .Site.Params.limitPostsOnHomepage | default 3 }}
      {{ range first $limit $sorted}}
        {{ .Render "summary" }}
      {{ end }}
      <a class="view-more" href="/posts">More Posts</a>
    {{ end }}
  {{ end }}

{{ end }}

{{ define "footer_js" }}
  {{ partial "vinai-chat.html" . }}
{{ end }}
