<div class="nl-signup-form">
  Some of those cool stuff I dream about end up in the form of writings ✍️<br>
  Sign-up to get them in your inbox. I wont spam, I promise 🤞
  <div id="mc_embed_signup">
    <form action="https://thevinesh.us4.list-manage.com/subscribe/post?u=141890150fe1693eeb62af296&amp;id=1886e3a98d"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
        <div class="mc-field-group">
          <input type="email" placeholder="your@ddress.extn" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_141890150fe1693eeb62af296_1886e3a98d" tabindex="-1" value=""></div>
          <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
  </div>
</div>