<div>
  <p>Some of those cool stuff I dream about end up in the form of writings ✍️<br>
    Sign-up to get them in your inbox. I don't spam, I promise 🤞</p>
  <div id="nl-signup-form">
    <form action="https://tinyletter.com/theVinesh" method="post" target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/theVinesh', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <!-- <p><label for="tlemail">Enter your email address</label></p> -->
      <input type="email" placeholder="your@ddress.extn" value="" name="email" id="tlemail" />
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="hidden" value="1" name="embed" />
      </div>
      <input type="submit" value="subscribe" class="button" />
    </form>
  </div>
</div>