@import "modules/all";
@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap");

body {
  font-family: "Oxygen Mono", monospace;
  color: $black;
  #content {
    a {
      color: $black;
    }
  }
  #social {
    a {
      color: $white;
    }
  }
}

body.dark {
  background: $black;
  color: $white;
  #content {
    a {
      color: $white;
    }
  }
}

a {
  color: $white;
  text-decoration: none;
}

header {
  background: $red;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: $page_top_margin 0 $page_bottom_margin 0;
  align-items: center;
}

nav {
  width: 100%;
  background: $red;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    .push {
      margin-left: auto;
    }
    .setting-item {
      a {
        padding-left: $nav_setting_item_left_right_padding;
        padding-right: $nav_setting_item_left_right_padding;
      }
      .emoji {
        font-size: 20px;
      }
    }
    li {
      a {
        display: block;
        font-size: 18px;
        color: $white;
        display: block;
        padding: $nav_item_top_bottom_padding $nav_item_left_right_padding;
        &:hover {
          background: $dark-red;
          border-bottom: $nav_item_bottom_border_height solid $white;
          padding-bottom: $nav_item_top_bottom_padding - $nav_item_bottom_border_height;
        }
      }
    }
  }
}

#nl-signup-form {
  display: flex;
  flex-direction: column;

  form {
    margin: 8px 0;
  }

  input {
    padding: 12px;
    margin: 4px 0;
    font-family: "Oxygen Mono", monospace;
    font-size: 14px;
  }

  .button {
    background: $red;
    color: $white;
    border: none;
    &:hover {
      background: $dark-red;
    }
  }
}

#content {
  padding: $page_padding;
  margin: $page_top_margin auto 0 auto;
  @include respond-to(wide-screens) {
    max-width: $max_content_width;
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
  }

  h2 {
    font-size: 28px;
    color: $red;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 32px 0 0 0;
  }

  h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 4px 0 0 0;
  }

  h5 {
    font-size: 16px;
    color: $red;
    font-weight: bold;
    margin: 0;
  }

  ol {
    @include respond-to(medium-and-small-screens) {
      margin: 0 16px;
    }
    hr {
      border-style: dashed;
    }
  }

  ul {
    li {
      font-size: 18px;
      margin: 16px;
      list-style-type: square;
      line-height: 150%;
    }
  }

  p {
    line-height: 150%;
    margin: 8px 0 16px;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    text-decoration-color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }

  hr {
    border-color: $red;
  }
}

#social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    display: block;
    text-align: center;
    background: $red;
    padding: 12px;
    margin: 0px 8px 8px 0px;
    &:hover {
      background: $dark-red;
      text-decoration: none;
    }
  }
}
