@import "modules/all";
@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap&&effect=anaglyph");

body {
  background: $white;
  font-family: "Oxygen Mono", monospace;
}

header {
  background: $red;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: $page_top_margin 0 $page_bottom_margin 0;
  align-items: center;
}

nav {
  width: 100%;
  background: $red;
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        display: block;
        padding: $nav_item_top_bottom_padding $nav_item_left_right_padding;
        font-size: 18px;
        color: $white;
        text-decoration: none;
        &:hover {
          background: $dark-red;
          border-bottom: $nav_item_bottom_border_height solid $white;
          padding-bottom: $nav_item_top_bottom_padding - $nav_item_bottom_border_height;
        }
      }
    }
  }
}

.nl-signup-form {
  display: flex;
  flex-direction: column;
  form {
    margin: 8px 0;
  }
  input {
    padding: 12px;
    margin: 4px 0;
    font-family: "Oxygen Mono", monospace;
    font-size: 14px;
  }
  .button {
    background: $red;
    color: $white;
    border: none;
    &:hover {
      background: $dark-red;
    }
  }
}

#content {
  padding: $page_padding;
  margin: $page_top_margin auto 0 auto;
  @include respond-to(wide-screens) {
    max-width: $max_content_width;
  }
  h1 {
    font-size: 32px;
    color: $black;
    font-weight: bolder;
  }

  h2 {
    font-size: 28px;
    color: $red;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    color: $black;
    font-weight: normal;
    margin: 32px 0 0 0;
  }

  h4 {
    font-size: 20px;
    color: $black;
    font-weight: normal;
    margin: 4px 0 0 0;
  }

  h5 {
    font-size: 16px;
    color: $red;
    font-weight: bold;
    margin: 0;
  }

  ol {
    @include respond-to(medium-and-small-screens) {
      margin: 0 16px;
    }
    hr {
      border-style: dashed;
    }
  }

  ul {
    li {
      font-size: 18px;
      margin: 16px;
      list-style-type: square;
      line-height: 150%;
    }
  }

  p {
    line-height: 150%;
    margin: 8px 0 16px;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    color: $black;
    text-decoration-color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }

  hr {
    border-color: $red;
  }
}

#social {
  a {
    text-align: center;
    background: $red;
    text-decoration: none;
    color: $white;
    display: inline-block;
    padding: 12px;
    margin: 4px 0;
    &:hover {
      background: $dark-red;
    }
  }
}
